.txt-currency{
  &:after{
    content: '円';
  }
}

.txt-itemname{
  &:before{
    content:'【';
  }
  &:after{
    content:'】';
  }
  font-weight: bold;
}

.txt-error{
  color:red;
  font-size:13px;
  font-weight: bold;
  display: inline;
}
