.pnl-img {
  position: relative;
  max-width: 250px;
  height: 250px;
  text-align: center;
}

.pnl-img > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pnl-img > p {
  position: relative;
}

.pnl-img > img {
  position: relative;
  width: 200px;
  height: 200px;
}

.pnl-input-month label {
  min-width: 70px;
}
