@charset "UTF-8";
.txt-currency:after {
  content: '円';
}

.txt-itemname {
  font-weight: bold;
}

.txt-itemname:before {
  content: '【';
}

.txt-itemname:after {
  content: '】';
}

.txt-error {
  color: red;
  font-size: 13px;
  font-weight: bold;
  display: inline;
}

.txt-message {
  font-size: 22px;
  font-weight: bold;
}

.mtpx-100 {
  margin-top: 100px;
}

.mtpx-150 {
  margin-top: 150px;
}

.pnl-img {
  position: relative;
  max-width: 250px;
  height: 250px;
  text-align: center;
}

.pnl-img > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pnl-img > p {
  position: relative;
}

.pnl-img > img {
  position: relative;
  width: 200px;
  height: 200px;
}

.pnl-input-month label {
  min-width: 70px;
}

.card-mg-none {
  margin-left: -15px;
  margin-right: -15px;
}

/** 
* ページ下部の画面遷移ボタンを配置するdiv用パネル
*/
.panel-button-group {
  border: solid 3px purple;
  background-color: silver;
}

/** 
* ページ上部のメッセージを配置するdiv用パネル
*/
.panel-message {
  border: solid 3px purple;
  background-color: beige;
}

.nav-homeicon {
  width: 30px;
  height: 30px;
}
