.pnl-img {
  position: relative;
  max-width: 250px;
  height: 250px;
  text-align: center;
}

.pnl-img > a {
  position: relative;
}

.pnl-img > img {
  position: relative;
  width: 200px;
  height: 200px;
}
